.main-page {
	width: 100vw;
	height: 840px;
	overflow: hidden;
	background: url('../images/newbg-login.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	.panel {
		width: 1200px;
		margin: 41px auto 0;
		.top {
			display: flex;
			justify-content: space-between;
			.right {
				color: #fff;
				font-weight: 700;
				font-size: 16px;
				.icontell {
					margin-right: 10px;
					font-size: 22px;
					position: relative;
					top: 2px;
				}
			}
		}
		.box {
			width: 332px;
			height: 360px;
			float: right;
			margin-top: 149px;
			margin-right: 100px;
			background: #fff;
			.box_item {
				display: flex;
				justify-content: space-around;
			}
			.content {
				box-sizing: border-box;
				padding: 29px 24px 0;
				.tell_btn {
					margin-bottom: 20px;
				}
				.yzm_btn {
					.ant-input-search-button {
						width: 110px;
					}
				}
				.login_btn {
					width: 100%;
					margin-top: 45px;
					height: 37px;
					background: linear-gradient(90deg, #ffad91, #ff5a53);
					border: 0;
					font-size: 18px;
				}
				.cb_infos {
					margin-top: 12px;
					font-size: 12px;
                }
                .register_btn{
                    display: inline-block;
                    margin: 24px 0;
                    cursor: pointer;
                }
			}
		}
	}
}
